blockquote {
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    font-style: italic;
    background: #efefef;
    color: #555;
}

.contact {
	display: inline-block;
	font-size: 20px;
	text-decoration:none;
	padding: 24px 40px;
	color: white;
	background-color: black;
	border-radius: 48px;
}