<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>HIDE's web</title>
<link rel="Icon" href="../assets/images/icon.png">
<link rel="stylesheet" href="../assets/css/main.css">
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-------------->
<script type="text/javascript" src="../assets/js/ip.js"></script>
<script type="text/javascript" src="../assets/js/time.js"></script>
{% include analytics.html %}